
<%- include('partials/header') %>

<h2 style="text-align:center;">Welcome to the Employee Management System</h2>

<a href="/login">Click on Button to Redirect on the Login Page</a>

<%- include('partials/footer') %>