h2 {
  text-align: center;
  color: #007bff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin: auto;
}

.controls {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchInput {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  padding: 6px;
  margin-left: 5px;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table thead {
  background-color: #007bff;
  color: white;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#employeesBody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.edit-btn,
.delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.2s ease;
}

/* Edit button style */
.edit-btn {
  background-color: #3498db;
  color: white;
}

.edit-btn:hover {
  background-color: #2980b9;
}

/* Delete button style */
.delete-btn {
  background-color: #e74c3c;
  color: white;
}

.delete-btn:hover {
  background-color: #c0392b;
}



/* new employee btn start */

.add-btn {
  display: inline-block;
  margin-bottom: 15px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
.add-btn:hover {
  background-color: #0056b3;
}


/* new employee button css end */