<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title><%= title || 'Employee Management System'  %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Static files -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/list.css" />
    <link rel="stylesheet" href="/css/editForm.css" />
    <link rel="stylesheet" href="/css/loginForm.css" />
    <script src="/js/header.js"></script>
</head>
<body>
    <header>
        <h1 style="text-align: center;">Employee Management System</h1>
        <hr />

         <% if (title !== 'Login' && title !== 'Home') { %>
            <button id="logoutBtn">Logout</button>
        <% } %>
    </header>
    <main>